cycler==0.11.0
Cython==0.29.28
fonttools==4.33.2
kiwisolver==1.4.2
llvmlite==0.38.0
matplotlib==3.5.1
numba==0.55.1
numpy==1.21.6
packaging==21.3
Panda3D==1.10.11.post1
panda3d-gltf==0.13
panda3d-simplepbr==0.10
Pillow==9.1.0
pyobjc-core==8.5
pyobjc-framework-Cocoa==8.5
pyparsing==3.0.8
pyperclip==1.8.2
python-dateutil==2.8.2
scipy==1.8.0
screeninfo==0.8
six==1.16.0
ursina==4.1.1
